body{
    /* Background pattern from Toptal Subtle Patterns */
    background: url("..\\img\\dark-triangles.png");
    margin:0px;
    padding: 0px;
    width: 100%;

}
header{
    background: rgba(173, 184, 113, 0.438); 
    text-align: center;
    min-height: 100%;
    height: auto;
    padding-bottom: 50px;
}

.tytul{
    margin: auto;
    text-align: center;
    height: 90vh;
}



.zaloguj{
    margin: auto;
    min-height: 20px;
    min-width: 80px;
    height: 5vh;
    width: 10vw;
    background-color: rgba(17, 104, 175, 0.671);
    font-size: 1.5vw;
    float: right;
    padding: 1vw;
    margin-right: 1vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.zarejestruj{
    margin: auto;
    min-height: 20px;
    min-width: 90px;
    height: 5vh;
    width: 10vw;
    background-color: rgba(17, 104, 175, 0.671);
    font-size: 1.5vw;
    float: right;
    padding: 1vw;
    margin-right: 3vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.company{
    padding-top: 20vh;
    display: block;
    height: auto;
}

.anim {
  text-align: center;
  background: linear-gradient(to right, #FFF 20%, rgb(80, 68, 243) 40%, rgb(80, 68, 243) 60%, #FFF 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: shine 1s linear infinite;
  font-size: 6vw;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.samolot{
    text-align: center;
    width: auto;
    height: 40vh;
}

article{
      text-align: center;
      font-size: 6vw;
      font-family: fantasy;
      color: rgb(17, 209, 104);
      padding: 50px;
      font-size: 80px;
      height: 100Vh;
      background-color: rgba(255, 127, 80, 0.5);
      opacity: 0.8;
}
article p{
    transform: translateY(50%);
}
.background{
    background-image: url("..\\img\\landscape-XX.jpg"); 
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:  cover;
    background-position-y: -200px;
    height: 80vh;
    width: 100%;
    opacity: 0.5;
}

footer{
    background-color: rgba(129, 172, 28, 0.5);
    height:40px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size:15px;
}

span{
    font-family: 'Lobster', cursive;
    font-size:14px;
    color: rgb(36, 18, 53);
}

a{
    color: rgb(66, 11, 45);
    text-decoration: none;
}

.zaloguj:hover, .zarejestruj:hover{
    background-color: greenyellow;
    color: goldenrod;
}



@media only screen and (max-width: 1000px) {
.zaloguj,.zarejestruj{
    font-size: 2vw;
}

p{
    margin-top:10vh;
    font-size: 6vw;
}

.anim{
    font-size:7vw;
    margin:0;
    padding: 0;
    margin-top:10vh;
    margin-bottom: 10vh;
}

.samolot{
    margin:auto;
   
}

header{
    width: 100vw;
}

}