table{
    margin: auto;
    margin-top:20px;
    border: 2px solid black;
    background-color: black;
    text-align: center;
}

tr{
    background: gray;
}

td{ 
    padding:7px;
    color:black;
    width: auto;
    min-width: 30px;
}
th{
    padding:7px;
    background-color: cadetblue;
    color:wheat;;
}

tr:hover{
    background: darkgray;
}

.mobile{
    display: none;
}
.no-mobile{
    display: block;
}

.modify{
    min-width: 90px;
}

.generuj{
    color:white;
    border:solid 2px white;
    border-radius:20px;
    background:gray;padding:5px;
}

.generuj:hover{
    background: greenyellow;
    color:black;
}

.opcja{
    width:200px;
    margin:auto;
    margin-top:20px
}
@media only screen and (max-width: 1200px){
    .no-mobile{
        display: none;
    }

    .mobile{
        display: block;
    }
}



@media only screen and (max-width: 1000px){
 table{
    font-size:1.5vw;
 }

}

@media only screen and (max-width: 600px){
    table{
        font-size: 15px;
    }
}