html,body{
    background: url(".\\img\\personel.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.kontener {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #edytujsamolot,#edytujtrasa,#edytujklienci,#rozklad {
        height: auto;
  }
    #edytujsamolot,#edytujtrasa,#edytujklienci,#rozklad,#edytujpracownika {
    background-color: rgba(0, 247, 255, 0.507);  
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: darkkhaki 2px solid;
  }

  #edytujpracownika{
    height: auto;
  }

  input,#t,#s,button{
      width: 100%;
      box-sizing:border-box;
  }

  button{
      margin-top:10px;
  }

  input[type=submit]:hover,button:hover{
      background-color: chartreuse;
  }

  a{
      text-decoration: none;
      color:black;
  }


  @media only screen and (max-height:550px){
    html,body{
      overflow: auto;
    }
    
      .kontener{
        height: auto;
        
      }
    
    }