html,body{
    background: url(".\\img\\personel.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0px;
}

#kontener{
    height: 100%;
    width: 100%;
}

#panel{
    height:30px;
    width: 100%;
}
#wyloguj{
    float: right;
    height: 15px;
    padding: 5px;
    width: 80px;
    text-align: center;
    font-size: 12px;
    margin-right: 20px;
    background-color: blue;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color:white;
}
#powrot{
    float:left;
    height: 15px;
    padding: 5px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    background-color: blue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 30px;
    color:white;

}
a{
    text-decoration: none;
}
#wyloguj:hover,#powrot:hover{
    background-color: rgb(112, 25, 25);
    color:orange;
}

#opcje{
    float: left;
    min-height:500px;
    overflow: auto;
    width: auto;
    margin:5px;
    margin-left:10px;
    margin-right: 10px;
}

li{
    margin-top:10px;
}

button{
    border-radius: 5px;
    background-color: rgb(40, 93, 153);
    color:white;
    border: none;
    margin-left: 10px;
    padding:5px;
}


button:hover,#przek:hover{
    background-color: rgb(52, 172, 180);
}

#wyszukiwarka1{
    text-align: center;
}

fieldset{
    text-align: right;
    min-width: 300px;
}

input,select{
    width:150px;
}

input[type=time],input[type=date]{
    text-align: center;
}


#edytuj{
    border:none;
    background: url('.\\img\\edytuj.png');
    height: 35px;
    width: 35px;
    cursor:pointer;
    border-radius: 25px;
    float: left;
}

#usun{
    border:none;
    background: url('.\\img\\usun.png');
    height: 35px;
    width: 35px;
    cursor:pointer;
    border-radius: 25px;
    float: right;
}

#usunrez{
    border:none;
    background: url('.\\img\\usun.png');
    height: 35px;
    width: 35px;
    cursor:pointer;
    border-radius: 25px;
}

#opcja{
    width:155px;;
    margin:auto;
    margin-top:20px
}

#generuj{
    color:white;
    border:solid 2px white;
    border-radius:20px;
    background:gray;padding:5px;
}

#generuj:hover{
    background: greenyellow;
    color:black;
}


@media only screen and (max-width: 800px) {


}