html,body{
    background: url(".\\img\\dark-triangles.png");
    height: auto;
    color: rgb(107, 98, 98);
    overflow: hidden;
    display: none;
}

#skad{
    margin-left: 15px;
}

#dokad{
    margin-left: 4px;
}

p{
    margin-left:25px;
}