html,body{
    /* Background pattern from Toptal Subtle Patterns */
    background: url(".\\img\\dark-triangles.png");
    overflow: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: gainsboro;
    width: 100%;
    min-height: 100%;
 

}
.kontener{
    height: auto;
    min-width: 800px;

}
#wyszukiwarka{
margin: 5px;
}
#wynik{
    margin:5px; 
    width: 800px;
}
fieldset{
    text-align: center;
    margin: auto;
    width: 360px;
}
legend{
    text-align: left;
}

#zatwierdz{
    margin-top: 20px;
    text-align: center;
    border-top: 2px silver solid;
    padding-top:10px;
}
#wybierz1{
    margin-left: 30px;
    min-width: 100px
}

#wybierz2{
    margin-left: 20px;
    min-width: 100px
}

#panel{   
    height:30px;
    width: 100%;
}

#wyloguj{
    float:right;
    height: 15px;
    padding: 5px;
    width: 90px;
    text-align: center;
    font-size: 12px;
    margin-right: 20px;
    background-color: rgb(64, 66, 34);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;

}
a{
    text-decoration: none;
}
#wyloguj:hover,#powrot:hover{
    background-color: rgb(112, 25, 25);
    color:orange;
}

#dodaj{
    border: none;
    background: url('.\\img\\dodaj.png') no-repeat 50%;
    height: 30px;
    width: 30px;
    cursor:pointer;
    border-radius: 25px;
}
#usun{
    border: none;
    background: url('.\\img\\usun.png') no-repeat 50%;
    height: 30px;
    width: 30px;
    cursor:pointer;
    border-radius: 25px;
}

