@import url(https://fonts.googleapis.com/css?family=Lobster+Two:regular,italic,700,700italic);
html,
body {
  height: 100%;
  background: url(".\\img\\landscape-XX.jpg");
  background-size: cover;
  overflow: hidden;
}

.kontener {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #e974469f;
  background-color: rgba(161, 109, 40, 0.507);
  width: 250px;
  height: auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: darkkhaki 2px solid;
}

legend {
  text-align: center;
  color: rgba(0, 0, 255, 0.75);
  font-size: 25px;
  font-family: Lobster Two;
  font-weight: bold;
}

input {
  margin-top: 15px;
  width: 200px;
}

input[type=submit]{
  border-radius: 10px;
}

input:hover {
  background-color: rgba(85, 211, 27, 0.452);
}

.zatwierdz {
  background-color: rgba(0, 128, 0, 0.65);
  height: 50px;
  font-family: fantasy;
  font-size: medium;
  color: rgb(15, 14, 14);
}

.zatwierdz:hover {
  background-color: greenyellow;
}

fieldset {
  border: none;
}

.odsylacz {
  margin-bottom: 2px;
  margin-right: 20px;
  margin-left: 20px;
}

.odsylacz>.powrot{
  float:left;
  width: auto;
  background-color: rgb(29, 145, 39);
  padding: 8px;
  border-radius: 10px;
}
.odsylacz>.rejestracja{
  float: right;
  width: auto;
  background-color: rgb(29, 145, 39);
  padding: 8px;
  border-radius: 10px;
}

.odsylacz>.rejestracja:hover,.odsylacz>.powrot:hover{
  background-color: rgba(0, 17, 255, 0.253);
}

p {
  margin: 0px;
}

