@import url(https://fonts.googleapis.com/css?family=Lobster+Two:regular,italic,700,700italic);
html,
body {
  height: 100%;
  background: url(".\\img\\landscape-XX.jpg");
  background-size: cover;
  overflow: hidden;
}

.kontener {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #e974469f;
  background-color: rgba(161, 109, 40, 0.507);
  width: 250px;
  height: 550px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: darkkhaki 2px solid;
}

legend {
  text-align: center;
  color: rgba(45, 3, 61, 0.75);
  font-size: 25px;
  font-family: Lobster Two;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  width: 200px;
  text-align: left;
}

input:hover {
  background-color: rgba(85, 211, 27, 0.452);
}

.zatwierdz {
  background-color: rgba(0, 128, 0, 0.65);
  height: 50px;
  font-family: fantasy;
  font-size: medium;
  color: rgb(15, 14, 14);
  text-align: center;
  margin-bottom:0px
}

.zatwierdz:hover {
  background-color: greenyellow;
}

fieldset {
  border: none;
}

.odsylacz {
  margin-bottom: 2px;
  float: right;
  margin-right: 20px;
}

p {
  margin: 0px;
  font-size:12px;
}

hr{

  margin-top: 10px;
  margin-bottom: 5px;
  border-top:2px solid black;
}

a{
  color:darkred;
  font-weight: bold;
  font-size:15px;
}

a:hover{
  background: green;
  color:black;
}

a:visited{
  color:rgb(90, 65, 2);
}

br{
  margin: 10px 0px;
}

.dane{
  font-weight: bold;
  color:rgb(12, 12, 11);
  font-size: 13px;
}

.dane:hover{
  background-color: green;
}


@media only screen and (max-height:550px){
html,body{
  overflow: auto;
}

  .kontener{
    height: auto;
    
  }

  main{
    overflow: auto;
  }
}